.container{
    width: 300px;
    height: 400px;
    overflow: auto;
    margin: auto;
    border: 1px solid green;
}
.listitem{
    text-align: center;
    height: 50px;
    background-color: lightblue;
    border-top: 1px solid blue;
}